<div class="row">
    <aside class="col-md-3">
        <h2>Resume Filtering</h2>
        <p>A growing platform that is beneficial for both freshers and HR managers</p>
    </aside>
    <section class="main col-md-9">
        <article>
            <h2>Welcome</h2>
            <p>The internet has completely transformed the job searching landscape. Long gone are the days when you’d
                “pound the pavement” or “go in and ask to speak to a manager” for all but the smallest local businesses.
                Instead, you apply online—which is a double-edged sword for everyone involved. Because you don’t have to
                physically fill out and deliver an application or send out resumes and cover letters via snail mail
                anymore, you can apply to a lot more jobs. But so can everybody. This means that an open position can
                easily get far more applications than companies have the resources to read.</p>
            <p>Companies often receive hundreds of resumes for every job posting they put out. They and their hiring
                managers don't have the time to go through each resume individually, so they use software, often called
                Applicant Tracking Systems (ATS), to filter through all the resumes they receive.</p>
            <p>So hiring managers and recruiters like Owens frequently use an applicant tracking system (ATS)—software
                that helps them organize job applications and ensure none fall through the cracks. If you've applied to
                a job any time since 2008, your application has probably passed through an ATS. Over 98% of Fortune 500
                companies use an ATS of some kind, according to research conducted by Jobscan. Any time you apply for a
                job through an online form or portal, your application is almost certainly going into an ATS.</p>
           
        </article>
    </section>
</div>